@font-face {
  font-family: 'oswald';
  src: url('/font/oswald.regular.ttf');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: black;
  background: white;
  background-image: url('/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
